In [1]:
import pandas as pd
import numpy as np
import joblib

In [2]:
with open('all_process', 'rb') as file_1:
  all_process= joblib.load(file_1)

In [3]:
random = np.random.default_rng(seed=2895)
sample_type = random.choice(['lab 1','lab 2'], size=30)
v1 = random.integers(280, 600, size=30)
v2 = random.integers(230, 490, size=30)
v3 = random.integers(420, 670, size=30)
v4 = random.integers(300, 450, size=30)
v5 = random.integers(400, 700, size=30)
v6 = random.integers(200, 350, size=30)
v7 = random.integers(450, 900, size=30)
v8 = random.integers(3800, 4900, size=30)
data_inf = pd.DataFrame({'sample_type' : sample_type, 'v1' : v1, 'v2' : v2, 'v3':v3,
                        'v4' : v4, 'v5' : v5, 'v6' : v6, 'v7' : v7, 'v8' : v8})
data_inf

   sample_type   v1   v2   v3   v4   v5   v6   v7    v8
0        lab 1  430  380  598  449  574  333  869  4783
1        lab 2  292  435  576  425  563  282  578  4837
2        lab 2  351  244  635  336  536  298  545  4673
3        lab 1  440  486  560  328  599  283  714  3927
4        lab 1  412  356  542  442  545  291  565  4240
5        lab 2  526  287  667  394  679  258  899  4345
6        lab 1  374  339  499  415  404  318  543  4563
7        lab 2  383  430  528  441  418  259  807  4371
8        lab 2  447  337  476  315  682  208  805  3902
9        lab 2  338  326  453  429  550  326  741  4628
10       lab 2  384  302  563  427  603  341  795  4361
11       lab 2  522  289  668  309  467  328  850  4266
12       lab 1  575  458  434  364  613  261  807  4203
13       lab 1  374  325  665  449  634  247  656  4858
14       lab 2  310  441  581  322  668  253  611  3868
15       lab 2  508  390  661  348  551  314  797  4232
16       lab 2  477  406  553  370  605  337  736  4379
17       lab 1  346  298  593  340  630  262  784  4777
18       lab 2  415  398  510  427  402  208  563  4142
19       lab 2  598  250  636  393  414  200  707  3956
20       lab 2  343  383  619  374  520  256  828  4409
21       lab 1  569  488  585  338  554  329  704  4326
22       lab 2  390  480  532  415  647  300  706  4796
23       lab 2  457  396  509  445  525  231  791  4500
24       lab 2  496  445  624  301  656  263  685  4291
25       lab 1  409  315  440  390  598  218  555  4170
26       lab 2  547  421  586  403  539  237  727  3835
27       lab 2  330  249  610  422  480  210  515  4637
28       lab 1  322  456  480  438  695  277  508  4798
29       lab 1  397  312  663  427  435  245  754  4109

# MAKE A FINAL PREDICTION

In [4]:
final_predict = all_process.predict(data_inf)
final_predict

array([5.02608086, 5.1006118 , 4.88193752, 4.4601161 , 4.75250346,
       4.70189076, 4.94152537, 4.94211338, 4.36277021, 4.96485611,
       4.82542066, 4.68660555, 4.55801273, 5.01680868, 4.45427524,
       4.70037108, 4.76223779, 4.82734712, 4.79202224, 4.60769864,
       4.83670145, 4.67498075, 5.01234911, 4.91596132, 4.60517635,
       4.57071603, 4.55320899, 4.97853159, 4.953888  , 4.73418367])

In [6]:
predict = pd.DataFrame(final_predict, columns=["Target Prediction"])
predict

    Target Prediction
0            5.026081
1            5.100612
2            4.881938
3            4.460116
4            4.752503
5            4.701891
6            4.941525
7            4.942113
8            4.362770
9            4.964856
10           4.825421
11           4.686606
12           4.558013
13           5.016809
14           4.454275
15           4.700371
16           4.762238
17           4.827347
18           4.792022
19           4.607699
20           4.836701
21           4.674981
22           5.012349
23           4.915961
24           4.605176
25           4.570716
26           4.553209
27           4.978532
28           4.953888
29           4.734184

In [8]:
concatenated_df = pd.concat([predict, data_inf], axis=1)
concatenated_df

    Target Prediction sample_type   v1   v2   v3   v4   v5   v6   v7    v8
0            5.026081       lab 1  430  380  598  449  574  333  869  4783
1            5.100612       lab 2  292  435  576  425  563  282  578  4837
2            4.881938       lab 2  351  244  635  336  536  298  545  4673
3            4.460116       lab 1  440  486  560  328  599  283  714  3927
4            4.752503       lab 1  412  356  542  442  545  291  565  4240
5            4.701891       lab 2  526  287  667  394  679  258  899  4345
6            4.941525       lab 1  374  339  499  415  404  318  543  4563
7            4.942113       lab 2  383  430  528  441  418  259  807  4371
8            4.362770       lab 2  447  337  476  315  682  208  805  3902
9            4.964856       lab 2  338  326  453  429  550  326  741  4628
10           4.825421       lab 2  384  302  563  427  603  341  795  4361
11           4.686606       lab 2  522  289  668  309  467  328  850  4266
12           4.558013       lab 1  575  458  434  364  613  261  807  4203
13           5.016809       lab 1  374  325  665  449  634  247  656  4858
14           4.454275       lab 2  310  441  581  322  668  253  611  3868
15           4.700371       lab 2  508  390  661  348  551  314  797  4232
16           4.762238       lab 2  477  406  553  370  605  337  736  4379
17           4.827347       lab 1  346  298  593  340  630  262  784  4777
18           4.792022       lab 2  415  398  510  427  402  208  563  4142
19           4.607699       lab 2  598  250  636  393  414  200  707  3956
20           4.836701       lab 2  343  383  619  374  520  256  828  4409
21           4.674981       lab 1  569  488  585  338  554  329  704  4326
22           5.012349       lab 2  390  480  532  415  647  300  706  4796
23           4.915961       lab 2  457  396  509  445  525  231  791  4500
24           4.605176       lab 2  496  445  624  301  656  263  685  4291
25           4.570716       lab 1  409  315  440  390  598  218  555  4170
26           4.553209       lab 2  547  421  586  403  539  237  727  3835
27           4.978532       lab 2  330  249  610  422  480  210  515  4637
28           4.953888       lab 1  322  456  480  438  695  277  508  4798
29           4.734184       lab 1  397  312  663  427  435  245  754  4109